* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home,
  .services,
  .products,
  .sign-up {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .services {
    background-image: url('C:/Users/Shaurya Jamwal/Desktop/Final Project/ccd/src/image/img-prod.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .products {
    background-image: url('C:/Users/Shaurya Jamwal/Desktop/Final Project/ccd/src/image/img-ser.jpg');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .sign-up {
    background-image: url('C:/Users/Shaurya Jamwal/Desktop/Final Project/ccd/src/image/SU-1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
    
  }

  .Login {
    @media all and (min-width: 480px) {
      .Login {
        padding: 60px 0;
      }
    
      .Login form {
        margin: 0 auto;
        max-width: 320px;
      }
    }
  }